* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px solid #ccc; */
}

body {
	/* font-size: 16px; */
	font-family: Helvetica, Arial, sans-serif;
}

.container {
	padding: 16px;
	margin: auto;
	width: 95%;
}

.row {
	display: flex;
	flex-direction: row;
}

.flex-center-all {
	justify-content: center;
	align-items: center;
}

.column {
	display: flex;
	flex-direction: column;
}

img {
	width: 100%;
}

/*Header*/
#heading-section {
	background: rgb(68, 48, 153);
	color: #fff;
}

header {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.pageHeading {
	font-size: 1.6em;
	display: flex;
	justify-content: center;
	align-content: center;
}

.navbar {
	padding: 16px;
	text-transform: uppercase;
}

.navbar-nav {
	display: flex;
	justify-content: center;
	align-content: center;
}

.navbar-nav a {
	padding: 8px 12px;
	color: inherit;
	text-decoration: none;
	transition: all .4s;
}

.navbar-nav a:hover {
	background-color: rgba(0, 0, 0, .3);
	text-decoration: underline;
}


/* Showcase */
.showcase {
	min-height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.caption {
	text-align: center;
}

.caption p {
	margin-bottom: 5px;
	font-size: 1.4em;
}

@media (max-width: 567px) {
	.row {
		flex-direction: column;
	}
}