/* Utilities */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px solid #ccc; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Comfortaa, Arial, Helvetica, sans-serif !important;
}

body {
	/* font-size: 16px; */
	font-family: Helvetica, Arial, sans-serif;
}

.mt-5 {
	margin-top: 30px !important;
}

.m-5 {
	margin: 25px !important;
}

.times-new {
	font-family: 'Times New Roman', Times, serif !important;
	font-size: 1.2em;
}

.p-3 {
	padding: 12px !important;
}

.p-5 {
	padding: 20px !important;
}

.container {
	padding: 16px;
	margin: auto;
	width: 95%;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.flex-center-all {
	justify-content: center;
	align-items: center;
}

.column {
	display: flex;
	flex-direction: column;
}

img {
	width: 100%;
}

/*Header*/
#heading-section {
	background: rgb(68, 48, 153);
	color: #fff;
}

header {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.pageHeading {
	font-size: 1.6em;
	display: flex;
	justify-content: center;
	align-content: center;
}

.navbar {
	padding: 16px;
	text-transform: uppercase;
}

.navbar-nav {
	display: flex;
	justify-content: center;
	align-content: center;
}

.navbar-nav a {
	padding: 8px 12px;
	color: inherit;
	text-decoration: none;
	transition: all .4s;
}

.navbar-nav a:hover {
	background-color: rgba(0, 0, 0, .3);
	text-decoration: underline;
}


/* Showcase */
#showcase {
	background: lightblue url('./images/background.jpg') no-repeat;
	background-size: cover;
}

.showcase {
	min-height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.caption {
	text-align: center;
}

.caption p {
	font-size: 1.4em;
	font-weight: bold;
}

.caption p:nth-child(1) {
	font-family: Times, serif;
}

.caption p:nth-child(2) {
	font-size: 2em;
	color: #fff;
	font-weight: 100;
}

.caption p:nth-child(3) {
	font-size: 2.4em;
	font-family: 'Arial Black', Arial, Helvetica, sans-serif;
	color: rgb(255, 115, 0);
	text-shadow: 2px 4px 4px rgb(0, 0, 0);
}

/* About Me */
.decorated-paragraph {
	background-color: lightgrey;
	display: flex;
	flex-direction: column;
}

.about-img {
	width: 120px;
}

.about-img img {
	/* border-radius: 50%; */
}


@media (max-width: 567px) {
	.row {
		flex-direction: column;
	}
}