/* Utilities */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px solid #ccc; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Comfortaa, Arial, Helvetica, sans-serif !important;
}

.bg-light {
	background-color: #ffffff;
}

.text-center {
	text-align: center;
}

.text-light {
	color: #fff;
}

.underline {
	text-decoration: underline;
}

body {
	/* font-size: 16px; */
	font-family: Helvetica, Arial, sans-serif;
}

.pt-5 {
	padding-top: 30px;
}

.mt-5 {
	margin-top: 30px !important;
}

.mb-5 {
	margin-bottom: 30px !important;
}

.m-5 {
	margin: 25px !important;
}

.times-new {
	font-family: 'Times New Roman', Times, serif !important;
	font-size: 1.2em;
}

.p-3 {
	padding: 12px !important;
}

.p-5 {
	padding: 20px !important;
}

.container {
	padding: 16px;
	margin: auto;
	width: 95%;
}

.row {
	display: flex;
	flex-direction: row;
	/* flex-wrap: wrap; */
	justify-content: center;
	align-items: center;
}

.row-wrap {
	flex-wrap: wrap;
}

.align-flex-end {
	align-self: flex-end;
}

.column {
	display: flex;
	flex-direction: column;
}

img {
	width: 100%;
}

/*Header*/
#heading-section {
	background: rgb(68, 48, 153);
	color: #fff;
}
.pageHeading img{
	width: 120px;
}
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.pageHeading {
	font-size: 1.6em;
}

.italic {
	font-style: italic;
}

.navbar {
	padding: 16px;
	text-transform: uppercase;
}

.navbar-nav {
	display: flex;
	justify-content: center;
	align-content: center;
}

.navbar-nav a {
	padding: 8px 12px;
	color: inherit;
	text-decoration: none;
	transition: all .4s;
}

.default-shadow {
	box-shadow: 2px 4px 6px rgba(0, 0, 0, .5);
}

.navbar-nav a:hover {
	background-color: rgba(0, 0, 0, .3);
	text-decoration: underline;
}


/* Showcase */
#showcase {
	background: lightblue url('./images/background.jpg') no-repeat;
	background-size: cover;
}

.showcase {
	min-height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.caption {
	text-align: center;
}

.caption p {
	font-size: 1.4em;
	font-weight: bold;
}

.caption p:nth-child(1) {
	font-family: Times, serif;
}

.caption p:nth-child(2) {
	font-size: 2em;
	color: #fff;
	font-weight: 100;
}

.caption p:nth-child(3) {
	font-size: 2.4em;
	font-family: 'Arial Black', Arial, Helvetica, sans-serif;
	color: rgb(255, 115, 0);
	text-shadow: 2px 4px 4px rgb(0, 0, 0);
}

/* About Me */
.decorated-paragraph {
	background-color: rgba(211, 211, 211, 0.39);
	display: flex;
	flex-direction: column;
}

.about-img {
	width: 120px;
	height: 120px;
	background: url("./images/equal-icon.jpg") no-repeat;
	background-size: cover;
	border-radius: 50%;
	margin: 10px;
}

/* Articles */
.article-preview {
	width: 30%;
	margin: 0 1.5%;
}

.article-img {
	max-height: 250px;
	overflow: hidden;
	margin-bottom: 10px;
	border-radius: 12px 12px 0 0;
}

.article-heading {
	border-left: 3px solid #ccc;
	padding: 8px 5px;
}


/* Personalities */
#personalities-section {
	background: url('./images/cinqueterre.jpg') no-repeat fixed;
	background-size: cover;
}

#personalities {
	background: rgba(0, 0, 0, .5);
	padding-top: 30px;
}

.person {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-basis: 40%;
	margin-bottom: 30px;
}

.person-info,
.person-info a {
	color: #ffffff;
}

.person-img {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	border: 0;
}

.person-img img {
	width: 120px;
	border-radius: 50%;
}


/* Footer Section: works and contact */
#footer-section {
	background: rgb(29, 23, 23);
	color: #ffffff;
}

.info-box {
	padding-bottom: 30px;
}

.info-box h2 {
	padding: 5px;
}

.info-box p {
	padding: 7px;
}

#contact-form {
	margin-bottom: 30px;
}

.form-group {
	display: flex;

	margin-bottom: 30px;
}

.form-group label {
	width: 30%;
	padding: 2px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
	width: 100%;
	padding: 6px;
	border: 0;
	border-radius: 6px;
}

.form-group textarea {
	width: 100%;
	min-height: 150px;
	resize: vertical;
	padding: 6px;
	font-family: inherit;
}

form button[type="submit"] {
	padding: 10px 14px;
	border: 0;
	border-radius: 6px;
	background-color: rgb(67, 67, 146);
	color: #ffffff;
}

form button[type="submit"]:hover {
	background-color: rgba(67, 67, 146, .7);
}

.socials {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-icon {
	text-decoration: none;
	padding: 0px 10px;
}

.social-icon img {
	width: 50px;
}

#mail-report {
	display: none;
	padding: 12px 16px;
	background-color: orange;
	color: #ffffff;
}

/* Footer */
footer {
	background-color: red;
	color: #fff;
	text-align: center;
}

.not-allowed {
	cursor: not-allowed;
}

@media (max-width: 620px) {
	header {
		justify-content: center;
	}
}

@media (max-width: 578px) {
	.row {
		flex-direction: column;
	}

	.article-preview {
		width: 100%;
		margin-bottom: 30px;
	}

	.person {
		width: 100%;
	}

	.info-box p {
		width: 80%;
		margin: auto;
	}
}